body{
  text-align:center;
  background-image:url("https://unsplash.com/photos/SYTO3xs06fU/download?force=true");
  background-size: contain;
  background-size: 100% 100%;

}
form{
  text-align:left;
  border-color:black;
  border-style:solid;
  border-radius:2%;
  margin:0 35% 0 35%;
  padding:10px 1% 10px 1%;
  background-color:#eee;
    opacity: 0.9;

}
